html {
    height: 100%
}

body {
    background-color: rgb(50, 50, 50);
    color: white;
    text-align: center;
    font-family: Arial;
}

.parallax {
    /* The image used */
    background-image: url("xolotl.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Create two columns/boxes that floats next to each other */

.desc {
    float: left;
    width: 30%;
    height: 300px;
    padding: 10px;
    font-size: 25px;
}

.desc2 {
    float: right;
    width: 35%;
    height: 300px;
    padding: 20px;
    font-size: 25px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}
